[Desktop Entry]
Name=Geary
Name[zh_CN]=Geary 邮件
GenericName=Email
X-GNOME-FullName=Geary Email
Comment=Send and receive email
Comment[zh_CN]=发送并接收邮件
Keywords=Mail;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;
Icon=org.gnome.Geary
TryExec=geary
Exec=proxychains geary %U
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
X-GNOME-UsesNotifications=true
Actions=Compose;

[Desktop Action Compose]
Name=Compose Message
Name[zh_CN]=撰写邮件
Exec=geary mailto:
